#cam,
#cam-loader {
  background: linear-gradient(
    175deg,
    rgba(255, 212, 229, 1) 0%,
    rgba(255, 212, 229, 0.2) 100%
  );
  position: absolute;
}

#cam-loader {
  background: #fff;
  /* background: linear-gradient(175deg, rgba(255, 212, 229,1) 0%, rgba(255, 212, 229,1) 100%); */
  z-index: 99;
}

#cam-loader h1 {
  color: rgba(255, 212, 229, 1);
  font-size: 4em;
  text-shadow: none;
}
.cam__number {
  position: absolute;
  font-size: 2em;
  bottom: 1em;
  left: 1em;
  z-index: 99;
}
.cam__message {
  position: absolute;
  z-index: 99;
  background: #fff;
  padding: 0.7em;
  max-width: 14em;
  font-size: 2.5em;
  color: #555;
  font-weight: bold;
  border-radius: 0.5em;
  left: 70%;
  top: 25%;
  box-shadow: 0em 0em 1em 0em rgba(0, 0, 0, 0.2);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.cam__message:after {
  position: absolute;
  bottom: -1em;
  left: 1em;
  content: " ";
  width: 0em;
  height: 0em;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 1.5em solid #fff;
  transform: rotate(30deg);
}

.cam__vid,
.cam__canvas,
.cam__img {
  position: absolute;
  width: 50%;
}

.cam__vid {
  transform: scaleX(-1) scale(0.65) translateY(-10em);
  z-index: 2;
}
.cam__vid video {
  width: 100%;
}

.cam__img {
  height: 100vh;
  z-index: 3;
}

.cam__img img {
  height: 100%;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
