#clues {
  flex-wrap: wrap;
  align-content: center;
  background: linear-gradient(
    175deg,
    rgba(183, 215, 132, 1) 0%,
    rgba(183, 215, 132, 0.3) 100%
  );
}

#clues > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.clue {
  width: 10em;
  height: 12em;
  margin: 1.5em 0;
  overflow: hidden;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.clue + .clue {
  margin-left: 4em;
}

.clue img {
  height: 100%;
}
