#clues {
  background: linear-gradient(
    175deg,
    rgba(183, 215, 132, 1) 0%,
    rgba(183, 215, 132, 0.3) 100%
  );
}

.clue {
  width: 12em;
  height: 16em;
  overflow: hidden;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.clue + .clue {
  margin-left: 4em;
}

.clue img {
  height: 100%;
}
