#code {
  background: linear-gradient(
    175deg,
    rgba(224, 205, 255, 1) 0%,
    rgba(224, 205, 255, 0.2) 100%
  );
}

#code h2 {
  text-shadow: 0px 0.25em 1.5em rgb(134, 100, 190);
}

#code input {
  font-size: 8em;
  width: 1em;
  border: none;
  border-radius: 0.1em;
  text-align: center;
  caret-color: transparent;
  border: solid 2px #fff;
}

#code input:focus {
  outline: none;
  border: solid 3px rgb(199, 177, 234);
}

#code.error input {
  animation: code-error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  /* background: red; */
}

#code input + input {
  margin-left: 0.2em;
}

@keyframes code-error {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}
