#code{

}

#code input {
    font-size: 8em;
    width: 1em;
    border: none;
    border-radius: .1em;
    text-align: center;
    caret-color: transparent;
}

#code.error input {
 animation: code-error 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
    /* background: red; */
}

#code input + input{
   margin-left: .2em;
    
}

@keyframes code-error {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }